[defaults]
inventory = inventory.sh
host_key_checking = False
# Adjust path to your private key if needed
private_key_file = ~/.ssh/google_compute_engine
roles_path = roles
deprecation_warnings = False
callbacks_enabled = profile_tasks, timer, profile_roles
forks = 20

# Performance: Fact Caching
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible/fact_cache
fact_caching_timeout = 7200

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ConnectionAttempts=100
# OpenSSH derives a 40-character SHA hash for the connection name, and use this
# as the control_path instead of an arbitrarily long string comprised of the
# local machine fqdn + remote host fqdn. Doing this for control-master performance
# improvements.
control_path = %(directory)s/%%C
